<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groupn.spin_counter" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name="SpinCounterApplication"
        android:allowBackup="true"
        android:icon="@drawable/launchicon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoreBoardActivity"
            android:label="@string/title_activity_score_board"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".BluetoothBrawlActivity"
            android:label="@string/title_activity_nfcbrawl"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true" >
        </activity>
    </application>

</manifest>
